

{% extends 'base.html'%}
{% load static%}
{% block title %}Dashboard{% endblock %} 
{% block css %}{% static "css/dash.css" %} {% endblock %}
{% block body %}

{% include 'includes/nav.html'%}

<main class="main">
  <div class="sidebar">
    <a href="{%url 'chief_dashboard'%}"><h2>Dashboard</h2></a>
      <ul>
          <li>
              <a href="{%url 'children_homes'%}">
                  <span class="icon">🏠</span>
                  <span class="text">Homes</span>
              </a>
          </li>
          <li>
              <a href="{%url 'users'%}">
                  <span class="icon">👥</span>
                  <span class="text">Users</span>
              </a>
          </li>
          <li>
              <a href="{%url 'most_visited_home'%}">
                  <span class="icon">📊</span>
                  <span class="text">Analytics</span>
              </a>
          </li>

          <li>
            <a href="{%url 'most_visited_home'%}">
                <span class="icon">📊</span>
                <span class="text">Analytics</span>
            </a>
        </li>
      </ul>
  </div>

  <div class="dashboard">
    <div class="search-bar">
      <input type="text" placeholder="Search...">
      <button>Search</button>
    </div>
      <div class="section users">
          <h2>Users</h2>
          <!-- Users cards -->
          <div class="card">
              <!-- User information -->
              <!-- Example: Name, Email, Role, etc. -->
          </div>
          <!-- More user cards can go here -->
      </div>
      <div class="section homes">
          <h2>Homes</h2>
          <!-- Homes cards -->
          <div class="card">
              <!-- Home information -->
              <!-- Example: Address, Capacity, Details, etc. -->
          </div>
          <!-- More home cards can go here -->
      </div>
      <div class="section analytics">
          <h2>Analytics</h2>
          <!-- Analytics cards -->
          <div class="card">
              <!-- Analytics information -->
              <!-- Example: Most Visited, Most In Need, etc. -->
          </div>
          <!-- More analytics cards can go here -->
      </div>
      
  </div>
</main>


<footer class="footer">
  <p>&copy; 2023 Hearts to Homes.  All Rights Reserved.</p>
</footer>
{% endblock %} 