{%extends 'base.html'%}
{% load static%}
{% block css %}{% static "css/index.css" %} {% endblock %}
{%block title%} Home {%endblock%}

{%block body %}
<header class="header">
  <nav class="navbar">
    <a href="{% url 'home' %}" class="nav-logo"> Hearts to Homes</a>
    <div class="nav-links">
      <a href="{% url 'about' %}"> About<a>
      <a href="{% url 'donations' %}"> Donations<a>
      <a href="{% url 'children_homes' %}"> Homes<a>
      <a href="{% url 'events' %}"> Events<a>
      <a href="{% url 'contact' %}"> Contact<a>
    </div>
    <div class="nav-auth">
      <a href="{% url 'login' %}"><button>Login</button></a>
      <a href="{% url 'register' %}"><button>Register</button></a>
    </div>
  </nav>
</header>
{%endblock%}