{% extends 'base.html'%}
{% load static%}

{% block title %}Register{% endblock %} 
{% block css %}{% static "css/register.css" %} {% endblock %}
{% block body %}

{% include 'includes/nav.html'%}


<main class="main">
  <div class="container">
    <h1>Register</h1>
    
    <form method="post">
      {% csrf_token %}
      <label for="fullname">Full Name:</label>  
      <input type="text" name="fullname" id="fullname" placeholder="Enter your full name">
        
      <label for="username">Username:</label>  
      <input type="text" name="username" id="username" placeholder="Enter your username">

      <label for="email">Email:</label>  
      <input type="email" name="email" id="email" placeholder="Enter your email addres">

      <label for="password1">Password:</label>  
      <input type="password" name="password1" id="password1" placeholder="Enter your password">

      <label for="password2">Username:</label>  
      <input type="password" name="password2" id="password2" placeholder="Confirm your password">

      <p>Have an account? <a href="{%url 'login'%}">Login </a></p>
            
      <button type="submit">Login</button>
        
    </form>
  </div>

{% endblock %} 