{% extends 'base.html'%}
{% load static%}
{% block title %}Donations{% endblock %} 
{% block css %}{% static "css/donations.css" %} {% endblock %}

{% block body %}

{% include 'includes/nav.html'%}

<main class="main">
  <h4>Donations:</h4>
  <div class="donations">
    <div class="donation-card">
        <img src="{% static 'images/household.jpg'%}" alt="Donation 1">
        <div class="donation-details">
            <p>Donation 1 description goes here.</p>
            <a href="{% url 'donations' %}">Donate</a>
        </div>
    </div>
      <div class="donation-card">
        <img src="{% static 'images/clothes.jpg'%}" alt="Donation 1">
        <div class="donation-details">
            <p>Donation 1 description goes here.</p>
            <a href="{% url 'donations' %}">Donate</a>
        </div>
    </div>
    <div class="donation-card">
      <img src="{% static 'images/packedfood.jpg'%}" alt="Donation 1">
      <div class="donation-details">
          <p>Donation 1 description goes here.</p>
          <a href="{% url 'donations' %}">Donate</a>
      </div>
    </div>
    <div class="donation-card">
      <img src="{% static 'images/packedfood.jpg'%}" alt="Donation 1">
      <div class="donation-details">
          <p>Donation 1 description goes here.</p>
          <a href="{% url 'donations' %}">Donate</a>
      </div>
    </div>
    <div class="donation-card">
      <img src="{% static 'images/packedfood.jpg'%}" alt="Donation 1">
      <div class="donation-details">
          <p>Donation 1 description goes here.</p>
          <a href="{% url 'donations' %}">Donate</a>
      </div>
    </div>
    <div class="donation-card">
      <img src="{% static 'images/packedfood.jpg'%}" alt="Donation 1">
      <div class="donation-details">
          <p>Donation 1 description goes here.</p>
          <a href="{% url 'donations' %}">Donate</a>
      </div>
    </div>
  </div>
</main>

<footer class="footer">
  <p>&copy; 2023 Hearts to Homes.  All Rights Reserved.</p>
</footer>
{% endblock %} 