{% extends 'base.html'%}
{% load static%}

{% block title %}Donation Form{% endblock %} 
{% block css %}{% static "css/login.css" %} {% endblock %}
{% block body %}

{% include 'includes/nav.html'%}


<main class="main">
  <div class="container">
    <h1>Donations</h1>
     
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
      {% comment %} {{ form|crispy }} {% endcomment %}
      <button type="submit">Submit</button>
        
    </form>
  </div>
</main>

{% endblock %} 